body {
}

/** {
    margin: 0px;
    padding: 0px;
}*/

#menu ul {
    list-style: none;
}

    #menu ul li {
        background-color: #F2F3F4;
        border: solid 1px white;
        width: 250px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        float: left;
        position: relative;
        font-family: Georgia;
        font-size: large;
        /*font-weight: bold;*/
    }

        #menu ul li a {
            text-decoration: none;
            color: black;
            display: block;
        }

            #menu ul li a:hover {
                background-color: #91012C;
                color: white;
            }

    #menu ul ul {
        position: absolute;
        display: none;
    }

    #menu ul li > ul li {
        background-color: ButtonHighlight;
        color: black;
        border: solid 1px white;
    }

    #menu ul li:hover > ul {
        display: block;
    }
